@model DoAn_CNPM.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style=" width: 100%; ">
    <h2 style="text-align: center">XÓA LOẠI BỆNH</h2>
    <div>
  
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Tên loại bệnh
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NameCat)
            </dd>
            <dd>
                <br />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                }
            </dd>
        </dl>

        <div>
            @Html.ActionLink("Trở về", "Index")
        </div>
</div>